[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
mysql-connector-python = "*"
python-dotenv = "*"
pandas = "*"
dash = "==1.16.3"

[requires]
python_version = "3.8"
